
{% extends "blog/base.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Delete Post</legend>
					<h5> Are you sure u want to delete?<b class="text-danger"><a href="{% url 'post-detail' object.id %}"> "{{ object.title }}"</a></b></h5>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Yes I'm Aware</button>
				<a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock content %}
